body
{
    background-size: cover;
    text-align: center;
}

#heading {
    margin-top: 10px;
    background-color: #5bbfee;
    color: rgb(255, 4, 142);
    font-size: 60px;
    height: 80px;
    width: 1350px;
    margin-left: 8px;
    font-variant: small-caps;
    letter-spacing: 5px;
    border-radius: 30px;
}

a {
    background-color: rgb(186, 69, 253);
    font-size: 40px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 30px;
    color: rgb(174, 237, 248);
}

a:hover {
    background: rgb(42, 171, 223);
    color: rgb(247, 64, 149);
}

#heading_images {
    margin-top: 10px;
    background-color: #be62e9;
    color: rgb(255, 4, 142);
    font-size: 60px;
    height: 80px;
    width: 1350px;
    margin-left: 8px;
    font-variant: small-caps;
    letter-spacing: 7px;
    border-radius: 30px;
    font-family: 'Roboto Slab', serif;
}

canvas {
    box-shadow: 40px 40px 60px white;
    background: rgb(255, 104, 217);
    border: 5px solid blue;
    border-radius: 40px;
}

#back_btn {
    margin-bottom: 0px;
    margin-left: 1200px;
    font-size: 18px;
}